@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

.logo img {
	height: 200px;
	width: 300px;
}

.container {
	width: 100%;
	min-height: calc(100vh - 30px);
	position: relative;
}

.container header {
	margin: 0 auto;
	position: relative;
	padding: 30px 30px 0 30px; /* Esto modifica los margenes del header */
}

.main {
	padding: 0 30px 0 30px; /* Esto modifica los margenes del body */
}

.main p {
	text-align: center;
	padding: 50px 20px;
}

.thumb {
	width: 250px;
	height: 250px;
}

.menu_container {
	display: flex;
	align-items: center;
}

.menu_filter {
	font-size: 20px;
	font-family: 'Comic Sans MS';
	list-style-type: none;
	margin: 5px 20px 5px 20px;
	width: 10px;
	-webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
	transition: width 0.5s;
}

.menu_filter:hover {
	width: 100px;
	background-color: red;
	color: blue;
	cursor: pointer;
}

.header_description {
	padding: 10px 0px 0px 0px;
	font-family: 'Comic Sans MS';
}

.left_container {
	float: left;
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.nav_btn {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	color: #fff!important;
	background-color: #000!important;
}
.nav_btn:hover {
	color: #000!important;
	background-color: #fff!important;
}

.nav_btn_left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%,-50%);
	-ms-transform:translate(-0%,-50%)
}

.nav_btn_right {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%,-50%);
	-ms-transform:translate(0%,-50%)
}

.modal_close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.modal_close:hover {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

.nzSlides {
	width: 100%;
	height: 100%;
	text-align: center;
}

.nzSlides:hover {
	cursor: zoom-in;
}

.nzIframe {
	width: 100%;
	height: 100%;
}

.contact_container {
	display: none;
}

.footer {
	height: 25px;
	font-size: 12px;
	padding: 0 30px 0 30px;
	z-index: 10;
}

.modal_container {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
  }

  .modal_content {
	position: relative;
	margin: 50px auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
  }