			<header>
				<div class="menu_container">
					<div>
						<img src="{{ .Site.Params.logo }}" height="150" width="300">
					</div>
					<div>
						<ul>
							<li class="menu_filter" id="menu_all">{{ .Site.Params.menu_all }}</li>
							<li class="menu_filter" id="menu_img">{{ .Site.Params.menu_img }}</li>
							<li class="menu_filter" id="menu_vid">{{ .Site.Params.menu_vid }}</li>
							<li class="menu_filter" id="menu_txt">{{ .Site.Params.menu_txt }}</li>
						</ul>
					</div>
				</div>
				<p class="header_description">{{ .Site.Params.header_description }}</p>
			</header>