			<header>
				<div class="menu_container">
					<div class="logo">
						<img src="{{ .Site.Params.logo }}">
					</div>
					<div>
						<ul>
							<li class="menu_filter" id="menu_all">{{ .Site.Params.menu_all }}</li>
							<li class="menu_filter" id="menu_img">{{ .Site.Params.menu_img }}</li>
							<li class="menu_filter" id="menu_vid">{{ .Site.Params.menu_vid }}</li>
							<li class="menu_filter" id="menu_txt">{{ .Site.Params.menu_txt }}</li>
							<li class="menu_filter" id="menu_vdg">{{ .Site.Params.menu_vdg }}</li>
							<li class="menu_filter" id="menu_cnt">{{ .Site.Params.menu_cnt }}</li>
						</ul>
					</div>
				</div>
				<div class="menu_texts">
					{{ if .IsTranslated }}
						{{ range .Translations }}
							<ul id="langSelector">
								<li id="currentLang">{{ .Site.Params.languageNext }}</li>
								<li><a href="{{ .Permalink }}">{{ .Site.Params.languageName }}</a></li>
							</ul>
						{{ end}}
					{{ end }}
					<p class="header_text header_text_all" style="display: inline-block;"><strong>{{ .Site.Params.header_text_all_section }}</strong>{{ .Site.Params.header_text_all_content }}</p>
					<p class="header_text header_text_img" style="display: none;"><strong>{{ .Site.Params.header_text_img_section }}</strong>{{ .Site.Params.header_text_img_content }}</p>
					<p class="header_text header_text_vid" style="display: none;"><strong>{{ .Site.Params.header_text_vid_section }}</strong>{{ .Site.Params.header_text_vid_content }}</p>
					<p class="header_text header_text_txt" style="display: none;"><strong>{{ .Site.Params.header_text_txt_section }}</strong>{{ .Site.Params.header_text_txt_content }}</p>
					<p class="header_text header_text_vdg" style="display: none;"><strong>{{ .Site.Params.header_text_vdg_section }}</strong>{{ .Site.Params.header_text_vdg_content }}</p>
					<p class="header_text header_text_cnt" style="display: none;"><strong>{{ .Site.Params.header_text_cnt_section }}</strong>{{ .Site.Params.header_text_cnt_content }}</p>
				</div>
			</header>